body {
    margin: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
    background-color: #FF5C67;

}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
    background-color: #F5404D;
}

nav a {
    color: white;
}

a {
    color: #0AA831;
}

a:hover {
    color: #40F56C;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
}

.recipe-item {
    padding: 0px 40px 50px 50px;
    justify-self: center;
    align-self: start;
    border: 1px solid red;
    box-shadow: 5px 5px 5px #A81B24;
    margin: 10px
}

h1 {
    color: #A81B24;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}
